* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9d87c7;
}

.head{
    color: rgb(49, 144, 49);
    display: inline;
    margin-top: 15px;
    padding-top: 5px;
}


img {
    display: inline-block;
    height: 80px;
    width: 18%;
}

.anu {
    margin-top: 100px;
    margin-left: 100px;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.bodytxt {
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: left;
    line-height: 82px;
    border-width: 0px;
    margin-top: 70px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 40px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
}
.btn{
    margin-left:120%;
    /* display: inline-block;
    left:500px; */
}
h3{
    padding: 20px 0;
    position: relative; 
    padding: 10px 15px;
    margin-left: 63px;
 
}
form {
    padding: 20px 0;
    position: relative;
    background-color: rgb(185, 187, 187);
    border-radius: 8px;
    /* margin-left: 50%; */
    height: 300px;

  }
  form input {
    border: 1px solid rgba(172, 153, 153, 0.4);
    background-color: rgba(93, 56, 56, 0.2);
    /* width: 250px; */
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgb(13, 8, 8);
    font-weight: 300;
  }
  
  form button {
    appearance: none;
    outline: 0;
    background-color: rgb(37, 45, 45);
    border: 0;
    padding: 10px 15px;
    color: #3a9e9c;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    margin-left: 108px;
  }
  .sidenav{
    background-color: rgb(73, 83, 212);
    width: 35%;
    height:600px ;
    margin-left: 20px;
    padding-top: 30px;
    padding-left: 20px;
  }
  .drop{
   
    padding-top: 100px;
    padding-left: 20px;
  }
  .bttn{
    border-radius: 8px;
    background-color: aqua;
   
    color: white;
    position: relative;
    left:70px;
   top:200px
  }
   .btnn a:hover{
background-color: yellow;
  }
  .cars{
    padding: 10px;
    height: 200px;
    width: 200px;
    background-color: rgb(117, 102, 205);
    position: relative;
    left:400px;
  }
  /* .binita{
    display: flex;
    /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* } */ */
  card{
    height: 100px;
  }
  
 